<div class="app-container" style="height: 0%;">
    <button mat-button (click)="jumpToGallery()">Gallery</button>
    <button mat-button (click)="jumpToWhiteWorld()">FreePainting</button>
    <button mat-button (click)="jumpToLogin()">
        <span *ngIf="!isLoggedIn()">Log in</span>
        <span *ngIf="isLoggedIn()">Log out</span>
    </button>
</div>

<div class="painting-container" *ngIf="showPainting">
    <app-ui-painting (close)="onClosePainting()" style="top: 30%;"></app-ui-painting>
</div>


<!-- <app-world></app-world> -->
<app-floating-action-button></app-floating-action-button>
<router-outlet />