<div class="ui-painting">
  <button (click)="onClose()"> 《 </button>
  <mat-card class="left-panel">
    <mat-card-content>
      <div class="painting-frame">
        <img src={{imgPath}} alt="Blurred Painting" style="max-width: 420px; height: auto;">
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="right-panel">
    <mat-card-header>
      <mat-card-title><h5>Toning!</h5></mat-card-title>
    </mat-card-header>
    <div class="teardrops">
      <div class="teardrop large" [style.background-color]="currentColor"></div>
    </div>
    <mat-card-content>
      <div class="color-selections">
        <div *ngFor="let drop of colorDrops" class="teardrop"
            [style.background-image]="drop.passed ? 'url(yes-45.svg)' : 'none'"
            [style.background-size]="drop.passed ? '45% 45%' : 'initial'"
            [style.background-color]="drop.color"
            (click)="selectColor(drop)"
            [class.selected]="drop.selected">
          </div>
      </div>
    </mat-card-content>
    <mat-card-actions class="ai-button">
      <button mat-button (click)="onOpenAI()">Ask AI</button>
    </mat-card-actions>
  </mat-card>
</div>