.painting-frame {
    border: 1px solid black;
}

.teardrops {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.large-teardrop,
.small-teardrop {
    width: 50px;
    height: 80px;
    background-color: transparent;
    border: 1px solid black;
    margin-bottom: 10px;
}

.color-selections {
    margin-top: 20px;
}

.color-drop {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
}

.color-drop.selected {
    border: 2px solid black;
}

.ui-painting {
    display: flex;
    justify-content: space-between;
    padding: 20px;

    .left-panel,
    .right-panel {
        mat-card {
            display: flex;
            flex-direction: column;
        }
    }

    .painting-frame {
        border: 1px solid black;
        max-width: 300px; /* Limit the size of the painting*/
    }

    .color-drop.selected {
        border: 2px solid black;
    }
}

/* CSS for teardrop shapes */
.teardrop {
    width: 30px;
    /* Width of the teardrop */
    height: 45px;
    /* Height of the teardrop */
    background-color: #000;
    /* Default color, will be overridden by Angular */
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    transform: rotate(45deg);
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s;
    /* Smooth transition for color change */
}

.teardrop.large {
    width: 50px;
    /* Larger width */
    height: 75px;
    /* Larger height */
}

.teardrop.small {
    width: 20px;
    /* Smaller width */
    height: 30px;
    /* Smaller height */
}

.teardrop.selected {
    border: 2px solid #fff;
    /* White border for selected color */
}