<div class="ui-painting">
  <button class="close-button" (click)="onClose()"> 《 </button>
  <div class="panels">
  <mat-card class="top-panel">
    <mat-card-content>
      <div id="painting-frame" class="painting-frame">
        <img id="painting-image" src={{imgPath}} alt="Blurred Painting">
        <div class="overlay">
          <span class="text">{{imgIntro}}</span>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="bottom-panel">
    <mat-card-header>
      <mat-card-title><h5>Toning!</h5></mat-card-title>
    </mat-card-header>
    <mat-card-content>
    <div class="teardrops">
      <div class="teardrop large" [style.background-color]="currentColor"></div>
    </div>
      <div class="color-selections">
        <div *ngFor="let drop of colorDrops" class="teardrop"
            [style.background-image]="drop.passed ? 'url(yes-45.svg)' : 'none'"
            [style.background-size]="drop.passed ? '45% 45%' : 'initial'"
            [style.background-color]="drop.color"
            (click)="selectColor(drop)"
            [class.selected]="drop.selected">
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions class="ai-button">
      <button mat-button (click)="onOpenAI()">Ask AI</button>
    </mat-card-actions>
  </mat-card>
  </div>
</div>